.container {
  min-height: 600px;
  position: relative;
  padding: 1em 2em;
  box-sizing: border-box;
  .list-header {
    text-align: center;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      margin: 0;
    }

    span {
      font-size: 16px;
      font-weight: 500;
    }
  }

  table {
    margin: auto;
    th, td {
      padding: 0 20px;
      width: 200px;
    }
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;

    position: absolute;
    bottom: 0;
    left: 0;
    align-items: center;

    mat-paginator {
      width: 100%;
    }
  }
}
