<form [formGroup]="settingsForm">
  <h2 mat-dialog-title>Parking Slot Settings</h2><br>
  <mat-dialog-content>
    <xyz-input fieldLabel="Total Slots" value="40" [control]="settingsForm.get('totalSlots')" [disabled]="true"></xyz-input>
    <xyz-input fieldLabel="Number of Entry Points" [control]="settingsForm.get('entries')">
      <ng-container *ngIf="f['entries'].errors">
        <p class="xyz-field-error right-aligned" *ngIf="f['entries'].errors?.['required']">Field is required.</p>
        <p class="xyz-field-error right-aligned" *ngIf="f['entries'].errors?.['min']">Minimun entry points is 3.</p>
      </ng-container>
    </xyz-input>
  </mat-dialog-content>
  <mat-dialog-actions align="center" class="submit-wrapper">
    <button mat-raised-button (click)="save(settingsForm)">Save</button>
    <button mat-raised-button mat-dialog-close dialogResult="cancel">Cancel</button>
  </mat-dialog-actions>
</form>

