
@import "_variables.scss";

.container {
  margin: 20px auto;
}
.field {
  display: flex;
  align-items: center;
  font: 400 16px/20px $primary-font;

  label {
    width: 20%;
    min-width: 200px;
    text-align: left;
  }

  .field-input {
    width: 100%;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
  }

  .input-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    border: 0.5px solid #666;
    border-radius: 5px;
    padding: 3px 8px;
  }

  input {
    width: 100%;
    padding: 0 3px;
    border: transparent;
    outline: transparent;
    font: 400 16px/20px $primary-font;
  }
}
