@import "_variables.scss";

.container {
  height: 100%;
  min-height: 100vh;
  background-color: #F7F7F7;

  .toolbar-header {
    letter-spacing: 2px;
    font: 500 20px/24px $special-font;
    mat-icon {
      padding: 4px 0;
    }
  }

  ::ng-deep {
    mat-toolbar {
      padding: 0 25px;
      color: $font-color-secondary;
      background-color: $color-primary;

    }
  }
}
