$primary-font: Roboto, "Helvetica Neue", sans-serif;
$special-font: 'Nunito', sans-serif;

$color-primary: #233B55;
$color-primary-md-dark: #34596F;
$color-primary-light:#74919F;
$color-secondary: #262626;

$font-color-primary: #000000;
$font-color-secondary: #FFFFFF;
$font-color-error: #990000;
