<div class="container">
  <section class="main">
    <div class="admin-header">
      <h1>Parking Entry Slots</h1>
      <div class="menu">
        <button (click)="viewCustomerList()"><mat-icon>list_alt</mat-icon></button>
        <button (click)="setControls()"><mat-icon>settings</mat-icon></button>
      </div>
    </div>
    <div class="admin-body">
      <mat-grid-list cols="8" rowHeight="120px">
        <ng-container *ngFor="let cluster of parkingMap; let i = index">
          <ng-container *ngFor="let slot of cluster.slots">
            <mat-grid-tile colspan="1" rowspan="1" [style.background]="slot.color" (click)="viewSlot(slot)">
              S{{slot.distance }}
            </mat-grid-tile>
          </ng-container>
        </ng-container>
      </mat-grid-list>
    </div>
  </section>
</div>
