@import "_variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

.xyz-body {
  &.normal {
    font: 400 18px/24px $primary-font;
  }

  &.demibold {
    font: 500 18px/24px $special-font;
  }
}

.section-header {
  font: 500 20px/24px $special-font;
}

.xyz-body-1 {
  font: 500 16px/20px $primary-font;
}

.xyz-body-2 {
  font: 500 18px/22px $primary-font;
}

.xyz-dialog {
  .mat-dialog-container {
    padding: 15px;
    border-radius: 10px !important;
  }
  .semi-rounded-edge {
    border-radius: 15px !important;
  }
  .reset-dialog {
    padding: 0;
    border-radius: 0;
  }
}

.xyz-field-error {
  color: $font-color-error;
  font: 400 12px/24px $primary-font;
  display: flex;
  align-items: center;
  justify-content: right;
}

.right-aligned {
  text-align: center;
}
.demibold-text {
  font-weight: 500;
}




